<div class = "mainpagebg">
<h1>Welcome to Marbles</h1>
<h3>Sign Up</h3>
<%= form_for @user do |f| %> 
<% if @user.errors.any? %>
  <div>
    <%= pluralize(@user.errors.count, "error") %> prevented the acct from being created: 
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>      
  </div>
<% end %>
<div>
  <%= f.label "username" %><br>
  <%= f.text_field "username" %>
</div>
<div>
  <%= f.label "email" %><br>
  <%= f.text_field "email" %>
</div>
<div>
  <%= f.label "password" %><br>
  <%= f.password_field "password" %>
</div>
<div>
  <%= f.label "password_confirmation" %><br>
  <%= f.password_field "password_confirmation" %>
</div>
<div><%= f.submit "Submit" %></div>
<% end %>
</div>  

  